<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/socialChatLayout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>createRoom</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<!-- header -->
		<th:block th:insert="~{/socialChatLayout/header::header}"></th:block>
		<!-- content -->
		<div class="container-fluid text-center" style="height: 100%">
			<div class="row content">
				<div class="col-sm-2">
					
				</div>
				<div class="col-sm-8 text-left">
					<div class="container">
						<div class="page-header">
							<h2>방 만들기</h2>
						</div>
						<div>
							<h5>방 이름</h5>
							<form th:action="@{/socialChat/createRoom}" th:method="post">
								<input type="text" name="roomName">
								<input type="hidden" name="roomOwner">
								<button type="submit" onkeypress="if( event.keyCode==13 ){$(this).submit();}">방 만들기</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					
				</div>
			</div>
		</div>
		<!-- footer -->
		<th:block th:insert="~{/socialChatLayout/footer::footer}"></th:block>
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			
		</script>
	</th:block>
</body>
</html>