<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/socialChatLayout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>friend</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<!-- header -->
		<th:block th:insert="~{/socialChatLayout/header::header}"></th:block>
		<!-- content -->
		<div class="container" style="height: 100%">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" th:href="@{#collapse1}"
								style="text-decoration: none">친구요청 <span class="badge"
								id="NumOfRequest"></span></a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<ul class="list-group" id="friendRequest">

						</ul>
					</div>
				</div>
			</div>
			<h2>
				친구목록 <span><button type="button"
						class="btn btn-primary pull-right" data-toggle="modal"
						data-target="#myModal" id="modalAddFriendBtn">친구추가</button></span>
			</h2>
			<ul class="list-group" id="friends">

			</ul>
			<form th:action="@{/socialChat/friendInfo}" method="post"
				id="getFriendInfo"></form>
		</div>
		<!-- modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">사용자 찾기</h4>
					</div>
					<div class="modal-body">
						<input id="userInfo" type="text" class="form-control"
							placeholder="찾는 이름을 입력하세요.">
						<button type="button" class="btn" id="userSearch">검색</button>
						<ul class="list-group" id="userList">

						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" id="close" class="btn btn-default"
							data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<!-- footer -->
		<th:block th:insert="~{/socialChatLayout/footer::footer}"></th:block>
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript" th:src="@{'/js/ajax.js'}"></script>
		<script th:inline="javascript">
		function printFriendRequest(list) {
			var str = "";
			var request;
			var ul = $("#friendRequest");
			if(list.length == 0) {
				str += "<li class ='list-group-item'>친구 요청이 없습니다.</li>";
			}
			else {
				for(var i = 0; i < list.length; i++) {
					request = list[i];
					str += "<li class ='list-group-item'>";
					str += request;
					str += "<button class='btn btn-danger pull-right denyRequest' id='"+ request +"'>거절</button>"
					str += "<button class='btn btn-primary pull-right acceptRequest' id='"+ request +"'>수락</button>"
					str += "</li>";
				}
			}
			$("#NumOfRequest").text(list.length);
			ul.html(str);
		}
		
		function printFriendList(list) {
			var str = "";
			var friend;
			var ul = $("#friends");
			
			if(list.length == 0) {			
				str += "<li class='list-group-item'>친구 목록이 존재하지 않습니다.</li>";
				
			} else {
				for(var i = 0; i < list.length; i++) {
					friend = list[i];
					
					str += "<li class='list-group-item'><a href='#' class='friendList' id='"+ friend +"'>";
					str += friend;
					str += "</a>";
					str += "<a class='glyphicon glyphicon-remove pull-right deleteFriend' style='text-decoration: none; color: red' id='"+ friend +"'>";
					str += "</a></li>";						
				}
			}
			ul.html(str);
		}
		
			$(document).ready(function(e) {
				var myId = [[${#authentication.principal.member.id}]];
				ajaxManager.getFriend(myId, printFriendList);
				ajaxManager.getFriendRequest(myId, printFriendRequest);
				
				function search() {
					$(".searchResult").remove();
					var myId = [[${#authentication.principal.member.id}]];
					var userName = $("#userInfo").val();
					ajaxManager.get(myId, userName, function(list){
						var str = "";
						var user;
						if(list.length == 0) {
							alert("존재하지 않는 사용자 입니다.");
						}
						for(var i = 0; i < list.length; i++) {
							user = list[i];
							str += "<li class='list-group-item searchResult'>이름: " + user.name + " 아이디: " + user.id  
							+"<button class='btn btn-primary pull-right btn-sm addFriend' id=" + user.id +">친구요청</button>" + "</li>";
						}
						$("#userList").append(str);
					});
				}
				
				$("#userSearch").on("click", search);
				document.getElementById("userInfo").addEventListener("keypress", function(e){
					if(e.keyCode == 13)
						search();
				});
			});
			
			$(document).on("click", ".friendList", function(){
				var friendId = $(this).attr('id');
				var input = document.createElement("input");
				input.type="text";
				input.name="friendId";
				input.value=friendId;
				var getFriendInfo = document.getElementById("getFriendInfo");
				getFriendInfo.appendChild(input);
				getFriendInfo.submit();
			});
			
			
			$(document).on("click", "#modalAddFriendBtn", function(){
				$("#userInfo").val("");
				$(".searchResult").remove();
				
			});
			
			$(document).on("click", ".addFriend", function(e){
				var friendId = $(this).attr('id');
				var userId = [[${#authentication.principal.member.id}]];
				var csrf = JSON.parse('[[${_csrf}]]');
				var obj = {
						user:userId,
						friend:friendId,
						csrf:csrf
				};
				
				ajaxManager.add(obj, function(){
					alert("친구 요청 되었습니다.");
				}, function(){
					alert("이미 친구요청 되었거나 존재하는 친구입니다.");
				});
			});
			
			$(document).on("click", ".deleteFriend", function(e){			
				var friendId = $(this).attr('id');
				var userId = [[${#authentication.principal.member.id}]];
				var csrf = JSON.parse('[[${_csrf}]]');
				var obj = {
						user:userId,
						friend:friendId,
						csrf:csrf
				};
				ajaxManager.del(obj, function(list){
					printFriendList(list);
					alert("삭제 되었습니다.");
				});		
			});
			
			$(document).on("click", ".denyRequest", function(){
				var userId = [[${#authentication.principal.member.id}]];
				var requestId = $(this).attr('id');
				var csrf = JSON.parse('[[${_csrf}]]');
				var obj = {
						user:userId,
						friend:requestId,
						csrf:csrf
				};
				ajaxManager.denyFriendRequest(obj, function(list){
					printFriendRequest(list);
				});
			
			});
			
			$(document).on("click", ".acceptRequest", function(){
				var userId = [[${#authentication.principal.member.id}]];
				var requestId = $(this).attr('id');
				var csrf = JSON.parse('[[${_csrf}]]');
				var obj = {
						user:userId,
						friend:requestId,
						csrf:csrf
				};
				ajaxManager.acceptFriendRequest(obj, function(list){
					printFriendRequest(list);
					ajaxManager.getFriend(userId, printFriendList);
				});		
			});
		</script>
	</th:block>
</body>
</html>