<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/socialChatLayout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Social NetWork Chatting Web Site</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<!-- header -->
		<th:block th:insert="~{/socialChatLayout/header::header}"></th:block>
		<!-- content -->
		<div class="container-fluid text-center">
			<div class="row content">
				<div class="col-sm-2">
					
				</div>
				<div class="col-sm-8 text-left">
					<h1>채팅 기능을 사용해보세요.</h1>
					

					<hr>
					
					<button type="button" class="btn btn-primary btn-lg" onclick="goChat()">채팅방 참여</button>
					
				</div>
				<div class="col-sm-2">
					
				</div>
			</div>
		</div>
		<!-- footer -->
		<th:block th:insert="~{/socialChatLayout/footer::footer}"></th:block>
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function goChat() {
				window.location.href = "/socialChat/room";
			}
		</script>
	</th:block>
</body>
</html>