<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/socialChatLayout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>myPage</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<!-- header -->
		<th:block th:insert="~{/socialChatLayout/header::header}"></th:block>
		<!-- content -->
		<div class="container" th:with="member=${member}" style="height: 100%">
			<div class="page-header">
				<h1>마이페이지</h1>
			</div>
			<form th:action="@{/socialChat/myPage/modify}" method="post" id="changeMemberInfo">
			<div class="form-group">
				<label for="id">아이디</label> <input type="text" class="form-control"
					name="id" th:value="${member.id}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="name">이름</label> <input type="text" class="form-control"
					name="name" th:value="${member.name}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="email">이메일</label> <input type="email"
					class="form-control" name="email" th:value="${member.email}">
			</div>
			<div class="form-group">
				<label for="phoneNumber">전화번호</label> <input type="text"
					class="form-control" name="phoneNumber"
					th:value="${member.phoneNumber}">
			</div>
			<div class="form-group">
				<label for="nickName">별명</label> <input type="text"
					class="form-control" name="nickName" th:value="${member.nickName}">
			</div>
			</form>
			<div class="form-group">
				<label for="regdate">가입일</label> <input type="text"
					class="form-control" name="regdate" th:value="${member.regdate}"
					readonly="readonly">
			</div>
			<div class="form-group">
				<label for="updatedate">최근수정일</label> <input type="text"
					class="form-control" name="updatedate"
					th:value="${member.updatedate}" readonly="readonly">
			</div>
			<button type="button" class="btn btn-primary" id="modify">수정하기</button>
			<button type="button" class="btn" id="goHome">홈으로</button>
		</div>


	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		$(document).ready(function() {
			var goHome = $("#goHome");
			goHome.on("click", function(e) {
				window.location.replace("/socialChat/home");
			});
			
			var changeMemberInfo = $("#changeMemberInfo");
			var modify = $("#modify");
			modify.on("click", function(e){
				changeMemberInfo.submit();
			});
		});
		</script>
	</th:block>
</body>
</html>